.popupContent {
    width: 200px;
    margin: 10px;
}

.btnActivatePlugin {
    margin-bottom: 10px;
    width: 200px;
}

.control-group > span:first-child {
    margin-right: 33px;
}

.title {
    padding: 9px;
    background-color: #101010;
    color: #999;
}

.font10{
    font-size: 10px;
}

.font16{
    font-size: 16px;
}

.panel-heading {
  padding: 0 15px !important;
}

.panel-body {
    padding: 2px 15px !important;
}

.panel-primary {
    margin: 0;
}

.pull-left {
    cursor: pointer;
    font-weight: normal;
    margin-right: 20px;
}

#currPage {
    display: block;
    font-size: 10px;
    color: #999;
}